.main-page {
   width: 90%;
   margin: 0 auto;
}

#selectVaapen-button, #selectKule-button, #selectSikte-button {
   width: auto;
   font-size: 1.2em;
   margin: 0px;
   padding: 3px 0px 3px 0px;
}
#selectKule-button, #selectSikte-button {
   width: 80%;
   margin: 15px auto;
}

#kuleinfo {
   margin: 10px auto 15px auto;
   padding: 6px;
   border-bottom: 1px solid #DDDDDD;
}

#vaapenList {
   width: 100%;
   height: 100px;
   padding: 2px 0;
   border: 2px solid #BBBBBB;
   overflow: auto;
   margin: 15px 0;
}

#vaapenList li a {
   font-size: 1.2em;
   padding: 4px 15px;
   margin: 1px 0;
   border: none;
}

.vaapenListSelected {
   background-color: red !important;
}
#overskrift {
   font-size: 210%;
   border-bottom: 1px solid #BBBBBB;
   font-variant: small-caps;
}

#overskrift h1 {
   margin: 0;
   padding: 0;
}

#footer h1 {
   font-size: 0.6em;
   padding: 2px 0px 0px 0px;
}

#selectKule {
   margin: 20px auto;
   padding: 0px;
   width: 100%;
}

.tabell {
   height: auto;
   overflow: auto;
}

.tabell ul li {
   border: none !important;
   font-size: 1.0em;
   padding: 1px 20px !important;
}

.ui-icon-feltskyting:after {
   background-image: url("../themes/images/icons-png/feltskyting.png");
   background-color: transparent !important;
}

#inputLine {
   font-size: 1.2em;
   width: 80%;
   height: 30px;
   background-color: yellow;
   margin: 0px auto;
   position: absolute;
   clear: both;
}
#inputLine label {
   font-size: 1.2em;
   background-color: orange;
   width: 45%;
   float: left;
}
#inputLine input {
   font-size: 1.2em;
   width: 30px;
   height: 30px;
   position: absolute;
   left: 0px;
   padding: 0px;
   margin: 0px;
   background-color: #6FACD5;
   text-align: right;
}
#inputLine span {
   width: 30px;
   height: 30px;
   padding: 0px;
   margin: 0px;
   position: absolute;
   right: 30px;
   background-color: #6FACD5;
   text-align: right;
}
